@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffb1c1;
    color: white; 
}

a{
    text-decoration: none;
}

h2{
    text-align: center;
    margin: 1rem 1rem;
}

#login {
    max-width: 500px;
    max-height: 500px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 15px;
    position: absolute; /* Permite o uso de top e left */
    top: 50%; /* Alinha ao meio verticalmente */
    left: 50%; /* Alinha ao meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o centro do elemento */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil */
}

#btn{
    width: 200px;
    cursor: pointer;
}

.blur1{
    position: absolute;
    box-shadow: -200px 0 1000px 100px white;
    z-index: -100;
}

.blur2{
    position: absolute;
    box-shadow: 600px 100px 1000px 100px white;
    z-index: -100;
}

#formulario{
    max-width: 1000px;
    max-height: 1000px;
    margin: 1rem auto;
    padding: 2rem 2rem 2rem 2rem;
    border: 3px solid white;
    border-radius: 15px;
}

.blur3{
    position: absolute;
    box-shadow: 900px 250px 1000px 100px white;
    z-index: -100;
}

.blur4{
    position: absolute;
    box-shadow: 150px -50px 1000px 100px white;
    z-index: -100;
}

.blur5{
    position: absolute;
    box-shadow: 1050px -200px 1000px 100px white;
    z-index: -100;
}

.blur6{
    position: absolute;
    box-shadow: 0px 450px 1000px 100px white;
    z-index: -100;
}

#cadastro a{
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
    color: #fff;
}